body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* This is the element where the tasks/appts will go */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Header styling */
/* -------------- */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Not sure what this does */
.description {
  white-space: pre-wrap;
}

/* The left-hand column showing the hour */
.time-block {
  text-align: center;
  border-radius: 15px;
}
/* ------------------ */
/* End header styling */

/* Main styling */
/* ------------ */

/* Each hour's row (with its three parts) */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* The left hand column showing the hour */
    /* Added some font styling */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-weight: 600;
  font-size: 1.1rem;
}

/* These three classes are for color-coordinating the textareas of past, future, present */
/* I removed the white font color here as the contrast was poor; it defaults to the black color given in 'textarea' element */
.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

/* These two are specific to the 'save' button */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

/* Changed this slightly, as I chose to use a span with a UTF-icon instead of a separate image */
.saveBtn:hover {
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  opacity: 80%;
}
